<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ControllerScouting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ControllerScouting.Properties.Settings._scoutingdbConnectionString"
      connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=scoutingdb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="ControllerScouting.Properties.Settings._scoutingdbServerConnectionString"
      connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=scoutingdb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ControllerScouting.Properties.Settings>
      <setting name="API_KEY" serializeAs="String">
        <value>zhTqFG7csJoif1sNXt3aZngy0LB1X4LxMgTfXBvPscNG0P9FifZCa2uGJcUk2gKW</value>
      </setting>
      <setting name="CSVLocation" serializeAs="String">
        <value>C:\Users\Public\Downloads</value>
      </setting>
      <setting name="csvExists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sqlExists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="supabaseKey" serializeAs="String">
        <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmbnNyYXJnbGxjY2FldWdqZXZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2MzcyMTcsImV4cCI6MjA3NzIxMzIxN30.mBVQfU67QkpHKDzSqxsq_QGtLzWYZ2-byD55NdW-CSM</value>
      </setting>
      <setting name="supabaseURL" serializeAs="String">
        <value>https://afnsrargllccaeugjevz.supabase.co</value>
      </setting>
      <setting name="supabasePassword" serializeAs="String">
        <value>m75pet03aAibeDqw</value>
      </setting>
    </ControllerScouting.Properties.Settings>
  </userSettings>
</configuration>